.heading {
  font-weight: 700;
  color: var(--white);
}

/* feature_section  */
.feature_section {
  display: flex;
  gap: 9rem;
  flex-direction: column;
  align-items: center;
}

.feature_section .feature_article {
  display: flex;
  justify-content: space-between;
  padding: 10rem 0 0 6rem;
  width: 120rem;
  height: 60rem;
  background: var(--black);
  border-radius: 0.8rem;
}

.feature_section .feature_article.reverse {
  flex-direction: row-reverse;
  padding: 10rem 32.6rem 0 10rem;
}

@media screen and (max-width: 1200px) {
  .feature_section .feature_article {
    flex-direction: column;
    width: 66.4rem;
    height: 97.2rem;
    padding: 6.3rem 0 0 6rem;
  }
  .feature_section .feature_article.reverse {
    flex-direction: column;
    padding: 6.3rem 0 0 6rem;
  }
}

.feature_article .feature_intro {
  display: flex;
  gap: 10rem;
  flex-direction: column;
  margin-top: 2rem;
}
@media screen and (max-width: 767px) {
  .feature_section .feature_article {
    width: 34.3rem;
    height: 68.6rem;
    padding: 0;
  }
  .feature_section .feature_article.reverse {
    width: 34.3rem;
    height: 68.6rem;
    padding: 0;
  }
  .feature_article .feature_intro {
    align-items: center;
    padding: 6rem 5.8rem;
  }
}

.feature_intro .feature_number {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--gray40);
}

.feature_intro .feature_h2 {
  font-size: 4.8rem;
  line-height: 1.3;
}

.feature_article .feature_image_wrapper1 {
  position: relative;
  width: 59.4rem;
  height: 49.7rem;
  border-radius: 0.8rem 0rem;
}

.feature_article .feature_image_wrapper2 {
  position: relative;
  width: 43.6rem;
  height: 50.2rem;
}

@media screen and (max-width: 1200px) {
  .feature_article .flex_box1 {
    display: flex;
    justify-content: flex-end;
  }
  .feature_article .flex_box2 {
    display: flex;
    justify-content: center;
    margin-right: 6rem;
  }
  .feature_article .feature_image_wrapper1 {
    width: 51.9rem;
    height: 43.5rem;
  }
  .feature_article .feature_image_wrapper2 {
    width: 36rem;
    height: 41.5rem;
  }
}
@media screen and (max-width: 767px) {
  .feature_article .feature_image_wrapper1 {
    width: 29.6rem;
    height: 24.8rem;
  }

  .feature_article .feature_image_wrapper2 {
    width: 21.7rem;
    height: 25rem;
  }
  .feature_intro .feature_h2 {
    font-size: 3.6rem;
    text-align: center;
  }
  .feature_article .flex_box2 {
    margin-right: 0rem;
  }
}
