.button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 1.2rem 1.6rem;
  border: 0.1rem solid var(--gray30);
  color: var(--gray50);
  border-radius: 0.8rem;
}

@media screen and (max-width: 767px) {
  .button {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
  }
  .button__image {
    display: none;
  }
}
