.container {
  display: flex;
  align-items: center;
  grid-area: profile;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  border: 0.2rem solid var(--white);
  margin-right: 1.2rem;
}

.image {
  position: absolute;
}

.defaultimage {
  width: 4rem;
  height: 4rem;
}

@media screen and (max-width: 767px) {
  .username {
    display: none;
  }
}
