.container {
  display: flex;
  grid-area: members;
  margin-left: 2rem;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid var(--white);
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  color: var(--white);
  border-radius: 10rem;
  margin-left: -1rem;
}

.count {
  font-weight: 600;
  background-color: var(--gray50);
}

.count::after {
  content: "+" attr(data-desktop-count);
}

.member__image {
  position: absolute;
}

.member__defaultimage {
  position: absolute;
  width: 4rem;
  height: 4rem;
}

.member__name {
  z-index: 1;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .member[data-index="2"],
  .member[data-index="3"] {
    display: none;
  }

  .count::after {
    content: "+" attr(data-mobile-count);
  }
}
