.container {
  display: flex;
  margin-left: 2rem;
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0.2rem solid var(--white);
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  color: var(--white);
  border-radius: 10rem;
}

.hidebutton__desktop {
  display: none;
}

.button::after {
  z-index: 1;
  font-weight: 600;
  content: "+" attr(data-desktop-count);
}

@media screen and (max-width: 767px) {
  .button::after {
    content: "+" attr(data-mobile-count);
  }

  .hidebutton__desktop {
    display: flex;
  }

  .hidebutton__mobile {
    display: none;
  }
}
