.popup {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  padding: 0.4rem 1.6rem;
  border: 0.1rem solid var(--gray40);
  position: absolute;
  top: 5rem;
  right: 0;
  background-color: var(--white);
  border-radius: 0.8rem;
}

.popup__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.popup__list[data-index="0"],
.popup__list[data-index="1"] {
  display: none;
}

.popup__name {
  margin-left: 0.4rem;
}

@media screen and (max-width: 767px) {
  .popup__list[data-index="0"],
  .popup__list[data-index="1"] {
    display: flex;
  }
}
