.member {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: -1rem; */
  border: 0.2rem solid var(--white);
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  color: var(--white);
  border-radius: 10rem;
}

.member__image {
  position: absolute;
}

.member__defaultimage {
  overflow: hidden;
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
}

.member__name {
  position: absolute;
  font-weight: 600;
  font-size: 1.6rem;
}

/* 카드 컴포넌트의 프로필 */
.card {
  width: 2.4rem;
  height: 2.4rem;
}

@media screen and (max-width: 767px) {
  .member[data-index="2"],
  .member[data-index="3"] {
    display: none;
  }
}
