.totalContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 35.4rem;
  height: auto;
}

.headerContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
}

.todoWrapper {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.contentContainer {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid var(--gray30);
  width: 31.4rem;
  height: 4rem;
  background: var(--white);
  border-radius: 0.6rem;
}
