.body {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  padding: 2rem;
}

.back_button {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black1);
}

.name_edit_box {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 2.8rem;
  width: 62rem;
  background-color: var(--white);
  border-radius: 0.8rem;
  gap: 2rem;
}

.name_edit_header {
  display: flex;
  justify-content: space-between;
}

.dashboard_name {
  padding: 0 1rem;
  border: 0.1rem solid var(--gray30);
  border-radius: 0.8rem;
  color: var(--black1);
  font-size: 2rem;
  font-weight: 700;
}

.dashboard_name:focus-within {
  outline: none;
  border: 0.1rem solid var(--violet);
}

.edit_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2.9rem;
  width: 8.4rem;
  height: 3.2rem;
  background: var(--violet);

  font-size: 1.4rem;
  font-weight: 500;
  color: var(--white);
  border-radius: 0.4rem;
}
