.common {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.common:disabled {
  background: var(--gray40);
  color: var(--white);
}

.violet {
  background-color: var(--violet);
  color: var(--white);
}

.white {
  border: 1px solid var(--gray30);
  background-color: var(--white);
  color: var(--black1);
}
.gray {
  border: 1px solid var(--gray30);
  width: 32rem;
  height: 6.2rem;
  background: var(--gray10);
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black1);
  border-radius: 0.8rem;
}

/* 로그인 */
.box1 {
  width: 52rem;
  height: 5rem;
  font-size: 1.8rem;
  border-radius: 0.8rem;
}

/* 삭제 */
.box2 {
  width: 8.4rem;
  height: 3.2rem;
  font-size: 1.4rem;
  color: var(--violet);
  border-radius: 0.4rem;
}
/* 새로운 컬럼 추가하기 */
.box3 {
  width: 35rem;
  height: 7rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 0.8rem;
}
/* 플러스 아이콘 */
.box4 {
  width: 31.4rem;
  height: 4rem;
  border-radius: 0.6rem;
}

/* 새로운 대시보드 */
.box5 {
  width: 33.2rem;
  height: 7rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
}
/* 수락 거절 */
.box6 {
  width: 8.4rem;
  height: 3.2rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
}

.white.box6 {
  color: var(--violet);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .box3 {
    width: 54.4rem;
    height: 7rem;
  }

  .box4 {
    width: 54.4rem;
    height: 4rem;
  }

  .box5 {
    width: 24.7rem;
    height: 6.8rem;
  }
  .box6 {
    width: 7.2rem;
    height: 3rem;
  }
}

@media (max-width: 767px) {
  .box1 {
    width: 35rem;
  }

  .box2 {
    width: 5.2rem;
    height: 2.8rem;
    font-size: 1.2rem;
  }

  .box3 {
    width: 28.4rem;
    height: 6rem;
  }

  .box4 {
    width: 28.4rem;
    height: 3.2rem;
  }

  .box5 {
    width: 26rem;
    height: 5.8rem;
    font-size: 1.4rem;
  }

  .box6 {
    width: 10.9rem;
    height: 2.8rem;
    font-size: 1.2rem;
  }

  .gray {
    width: 32rem;
    height: 6.2rem;
    font-size: 1.6rem;
  }
}
