.common {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.common:disabled {
  background: var(--gray40);
  color: var(--white);
}

.violet {
  background-color: var(--violet);
  color: var(--white);
}

.white {
  border: 1px solid var(--gray30);
  background-color: var(--white);
  color: var(--black1);
}
.gray {
  border: 1px solid var(--gray30);
  width: 32rem;
  height: 6.2rem;
  background: var(--gray10);
}

/* 로그인 */
.login {
  width: 52rem;
  height: 5rem;
  font-size: 1.8rem;
  border-radius: 0.8rem;
}

/* 삭제 */
.delete {
  width: 8.4rem;
  height: 3.2rem;
  font-size: 1.4rem;
  color: var(--violet);
  border-radius: 0.4rem;
}
/* 새로운 컬럼 추가하기 */
.add_column {
  width: 35rem;
  height: 7rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 0.8rem;
}
/* 플러스 아이콘 */
.plus_icon {
  width: 31.4rem;
  height: 4rem;
  border-radius: 0.6rem;
}

/* 대시보드 */
.dashboard {
  width: 33.2rem;
  height: 7rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.8rem;
}
/* 수락 거절 */
.accept_reject {
  width: 8.4rem;
  height: 3.2rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
}

.white.accept_reject {
  color: var(--violet);
}
/* 대시보드 삭제하기 */
.dashboard_delete {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black1);
  border-radius: 0.8rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .add_column {
    width: 54.4rem;
    height: 7rem;
  }

  .plus_icon {
    width: 54.4rem;
    height: 4rem;
  }

  .dashboard {
    width: 24.7rem;
    height: 6.8rem;
  }

  .accept_reject {
    width: 7.2rem;
    height: 3rem;
  }
}

@media (max-width: 767px) {
  .login {
    width: 35rem;
  }

  .delete {
    width: 5.2rem;
    height: 2.8rem;
    font-size: 1.2rem;
  }

  .add_column {
    width: 28.4rem;
    height: 6rem;
  }

  .plus_icon {
    width: 28.4rem;
    height: 3.2rem;
  }

  .dashboard {
    width: 26rem;
    height: 5.8rem;
    font-size: 1.4rem;
  }

  .accept_reject {
    width: 10.9rem;
    height: 2.8rem;
    font-size: 1.2rem;
  }

  .dashboard_delete {
    width: 32rem;
    height: 6.2rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .dashboard_delete {
    width: 100%;
  }
}
