.wrapper {
  display: flex;
  gap: 1rem;
  width: 95%;
}

.header {
  display: flex;
  gap: 0.8rem;
  align-items: baseline;
}

.detail {
  display: flex;
  gap: 0.8rem;
  flex: 1;
  flex-direction: column;
}
.author {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--black1);
}
.createdAt {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--gray40);
}
.comment {
  font-size: 1.4rem;
  color: var(--black1);
}

.buttons {
  display: flex;
  gap: 1.2rem;
}
.button {
  font-size: 1.2rem;
  color: var(--gray40);
}

.textarea {
  padding: 1rem;
  border: 1px solid var(--gray30);
  outline: none;
  width: 100%;
  font-size: 1.4rem;
  resize: none;
  border-radius: 0.6rem;
}

.textarea:focus-within {
  border: 1px solid var(--violet);
}
.textarea::placeholder {
  color: var(--gray40);
}

.error {
  font-size: 1.5rem;
  color: var(--red);
}

@media (max-width: 768px) {
  .author {
    font-size: 1.2rem;
  }
  .createdAt {
    font-size: 1rem;
  }
  .comment {
    font-size: 1.2rem;
  }
  .textarea {
    font-size: 1.2rem;
  }
  .profile_icon button {
    width: 2.6rem;
    height: 2.6rem;
  }
  .profile_icon button div {
    width: 2.6rem;
    height: 2.6rem;
  }
  .profile_icon button span {
    font-size: 1.2rem;
  }
  .dueDate {
    gap: 1rem;
  }
}
