.button {
  border: 0.1rem solid var(--gray30);
  width: 8rem;
  height: 3rem;
  font-weight: 600;
  color: var(--violet);
  border-radius: 0.4rem;
}

.acceptbutton__wrapper {
  display: flex;
  gap: 1rem;
  justify-self: flex-end;
}

.row {
  display: grid;
  align-items: center;
  height: 7rem;
  font-size: 1.6rem;
}
.row:not(:first-of-type) {
  border-top: 0.1rem solid var(--gray20);
}

.row button {
  justify-self: end;
}

.row__item {
  color: var(--black1);
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.row__icon {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 10rem;
}

.row__text__mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .row {
    font-size: 1.4rem;
  }

  .list__mobile .row {
    grid-template-columns: none !important;
    gap: 0.8rem;
    height: fit-content;
    padding: 1.6rem 0;
  }

  .list__mobile .row__icon {
    display: none;
  }

  .list__mobile .row__item {
    display: grid;
    grid-template-columns: 5rem 1fr;
  }

  .list__mobile .acceptbutton__wrapper {
    margin-top: 0.8rem;
    justify-self: start;
  }

  .acceptbutton__wrapper {
    width: 100%;
    gap: 3rem;
  }

  .acceptbutton__wrapper button {
    flex-grow: 1;
    height: 3.2rem;
  }

  .row__text__mobile {
    display: block;
    color: var(--gray40);
  }
}
