.root {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image {
  margin-bottom: 0.3rem;
}
.imageOpacity {
  opacity: 0.5;
}

.datepick {
  border: 0;
  color: var(--black-black_171717, #171717);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
