.root {
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  width: 40rem;
}

.input {
  flex: 1;
  font-size: 1.6rem;
}

.input::placeholder {
  color: var(--gray40, #9fa6b2);
}

.tagContainer {
  display: flex;
  direction: rtl;
  gap: 0.5rem;
  overflow-x: scroll;
  min-width: 0rem;
  max-width: 80%;
}

.tagContainer::-webkit-scrollbar {
  display: none; /* 스크롤바를 숨깁니다. */
}
