.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.27rem;
  width: 2rem;
  height: 2rem;
  background: var(--violet8);
  border-radius: 0.4rem;
}

.large {
  padding: 0.3rem;
  width: 2rem;
  height: 2rem;
}
