.container {
  display: flex;
  margin-right: 2rem;
  margin-left: 2rem;
  position: relative;
}

.container > div {
  margin-left: -1rem;
}

.container > div > div > div {
  border: 0.1rem solid var(--white);
}
