.redobutton {
  padding-top: 2rem;
  padding-left: 2rem;
}

.layoutContainer {
  display: flex;
  gap: 2rem;
  height: 100%;
}

.columnContainer {
  display: flex;
}

.buttonWrapper {
  margin-top: 6.8rem;
  padding: 0 2rem;
}

.buttonContentWrapper {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .redobutton {
    margin-bottom: 2rem;
  }

  .layoutContainer {
    flex-direction: column;
  }
  .columnContainer {
    flex-direction: column;
  }
  .buttonWrapper {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .layoutContainer {
    gap: 1.2rem;
    flex-direction: column;
  }
  .columnContainer {
    flex-direction: column;
  }
  .buttonWrapper {
    margin-top: 0;
    padding: 0 1.2rem;
  }
}
