/* prop에 따라 font-size, width, height 변경 */
.container {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  padding: 0.4rem 0.8rem;
  width: fit-content;
  height: 2rem;
  background: var(--violet8);
  border-radius: 1.1rem;
}

.wrapper {
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: var(--violet);
  text-align: center;
}

/* 큰 사이즈일 때의 스타일 */
.large {
  height: 2.2rem;
}

.largeText {
  font-size: 1.2rem;
}

/* 화이트 버전일 때 */
.white {
  background-color: white;
}

.whiteText {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--black3);
}
