.container {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  border-right: 0.1rem solid var(--gray30);
  width: 30rem;
  height: 100vh;
}

.container img {
  width: auto;
  height: auto;
}

.list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

.addbutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6rem 0 1rem;
  padding: 1rem 0 1rem;
  width: 100%;
  height: 4rem;
}

.addbutton__text {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray50);
}

.item__link {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem;
  width: 100%;
  height: 4rem;
}

.item__icon {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 10rem;
}

.item__text {
  margin-right: 0.8rem;
  margin-left: 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--gray50);
}

@media screen and (max-width: 1200px) {
  .container {
    align-items: center;
    padding: 2.4rem 1.2rem 0 1.2rem;
    width: 16rem;
  }

  .item__text {
    margin-right: 0.4rem;
    margin-left: 0.8rem;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 7.2rem;
  }

  .addbutton {
    margin: 4rem 0 1rem;
  }

  .list {
    align-items: center;
  }

  .addbutton,
  .item__link {
    justify-content: center;
    width: 4rem;
    height: 4rem;
  }

  .item__text,
  .item__img,
  .addbutton__text {
    display: none;
  }
}
