.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "sidemenu header" "sidemenu main";
}

.grid__sidemenu {
  grid-area: sidemenu;
}
.grid__header {
  grid-area: header;
}
.grid__main {
  background-color: var(--gray10);
  grid-area: main;
  overflow: hidden;
}
