.container {
  display: grid;
  grid-template-areas: "sidemenu header" "sidemenu main";
  grid-template-rows: auto 1fr;
}

.grid__sidemenu {
  grid-area: sidemenu;
}
.grid__header {
  grid-area: header;
}
.grid__main {
  grid-area: main;
  background-color: var(--gray10);
}
