.container {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.3rem 0.6rem;
  background: var(--gray20);
  border-radius: 0.4rem;
}

.wrapper {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: normal;
  color: var(--gray50);
  text-align: center;
}
