.button_container {
  display: flex;
}

.button {
  width: 4rem;
  height: 4rem;

  border: 1px solid var(--gray30);
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.disabled {
  filter: invert(100%) sepia(2%) saturate(1968%) hue-rotate(339deg) brightness(124%) contrast(70%);
}

.left {
  border-radius: 0.4rem 0rem 0rem 0.4rem;
}

.right {
  border-radius: 0rem 0.4rem 0.4rem 0rem;
}

.icon_wrapper {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
}
@media (max-width: 767px) {
  .button {
    width: 3.6rem;
    height: 3.6rem;
  }
}
