.textarea {
  display: flex;
  flex: 0 1 calc(100% - 9rem);
  border: none;
  width: calc(100% - 9rem);
  height: 100%;
  font-size: 1.4rem;
  resize: none;
}

.textarea::placeholder {
  color: var(--gray-gray_9FA6B2, #9fa6b2);
}

.textarea:focus {
  outline: none;
}

.button {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
}

@media (max-width: 767px) {
  .textarea {
    height: 100%;
  }
}
