.container {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  flex-direction: column;
  padding: 3.2rem;
  max-width: 62rem;
  width: 100%;
  background-color: var(--white);
  border-radius: 0.8rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
}

.savebutton {
  align-self: flex-end;
}
