.form {
  display: flex;
  gap: 2.8rem;
  align-items: flex-end;
  flex-direction: column;
}

.modal {
  display: flex;
  gap: 3.2rem;
  flex-direction: column;
  width: 100%;
}

.modalTitle {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--black1, #333236);
}

.info {
  margin: 0 auto;
  padding: 8rem 0rem 1.7rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black1, #333236);
  text-align: center;
}

.textArea {
  border: none;
  width: 100%;
  height: 8rem;
  font-size: 1.6rem;
  resize: none;
}

.textArea:focus {
  outline: none;
}

.textArea::placeholder {
  color: var(--gray40, #9fa6b2);
}

.dropdownContainer {
  display: flex;
  gap: 1.6rem;
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

div.deleteButton {
  width: 100%;
}

button.deleteButton {
  display: none;
}

.button {
  font-size: 1.4rem;
  color: var(--gray-gray_9FA6B2, #9fa6b2);
  text-decoration-line: underline;
}

.imageFileInputTitle {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--black1, #333236);
}

.imageFileInput {
  display: flex;
  gap: 1rem;
}

.currentImage {
  width: 7.2rem;
  height: 7.2rem;
  position: relative;
}

.currentImage img {
  object-fit: cover;
  border-radius: 0.6rem;
}

@media (max-width: 767px) {
  .dropdownContainer {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .form {
    gap: 2.4rem;
  }

  .modalTitle {
    font-size: 2rem;
  }

  .info {
    padding: 5.3rem 0rem 2.6rem;
    font-size: 1.6rem;
  }

  .imageFileInputTitle {
    font-size: 1.4rem;
  }

  .textArea {
    height: 4.8rem;
    font-size: 1.4rem;
  }

  div.deleteButton {
    gap: 1.6rem;
    align-items: flex-start;
    flex-direction: column;
  }
}
