.backbutton {
  width: 5rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  gap: 0.8rem;
}

.backbutton__img {
  position: relative;
  width: 2rem;
  height: 2rem;
}
